



div {
	padding: 3px;
	text-shadow: 1px .1px black;
	
	font-weight: bold;

}


#vacc_1 {
	color:rgb(0,39,0);




}

#vacc_2 {
	color:rgb(0,78,0); 

}

#vacc_3 {
	color:rgb(0,98,0); 

}

#vacc_4 {
	color:rgb(0,118,0);

}

#vacc_5 {
	color:rgb(0,137,0);
	
}

